#right_frame
    margin: 10px
    border: red solid 2px

#set_nav_links
    margin: 10px
    border: red solid 2px

#iframe_container
  display: flex
  transition: 2s
  margin: 5px
  flex-wrap: wrap
  border: red 2px solid
  border-radius: 10px
  font-family: 'Comfortaa', cursive
  padding: 10px

