.container {
    animation: infinite 10s animation;
}

#image {
    width: 150px;
    height: 150px;
}

@keyframes animation {
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(360deg)}
}