@keyframes rotate {
    to {transform: rotate(180deg); left: 90px;}
}

@keyframes fadein {
    to {opacity: 100%;}
}

@keyframes rerotate {
    to {transform: rotate(180deg); left: 0px;}
}

@keyframes fadeout {
    to {opacity: 0%;}
}

@keyframes logo_rotate {
    to {transform: rotate(180deg);}
}

@keyframes logo_rerotate {
    from {transform: rotate(180deg);}
    to {transform: rotate(360deg);}
}

@keyframes fullrotate {
    to {transform: rotate(360deg); left: 90px;}
}

@keyframes main_function_container_fadein {
    from {opacity: 0%;}
    to {opacity: 70%;}
}

@keyframes main_function_container_fadeout {
    from {opacity: 70%;}
    to {opacity: 0%;}
}

