@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


body {
  background-image: linear-gradient(pink, pink);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Comfortaa', cursive;
}

.main_heading {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 2px #000, 0 0 25px rgb(253, 24, 253), 0 0 5px #df49c6;
  transition: 2.5s;
  text-align: center;
  font-size: 40px;
  font-family: 'Comfortaa', cursive;
}

.sub_heading {
  text-shadow: 2px 2px 5px red;
  transition: 2.5s;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.sub_heading:hover {
  text-shadow: none;
  color: red;
}

.main_heading:hover {
  color: rgb(226, 34, 226);
  text-shadow: none;
}

.main_post_preview {
  width: 400px;
  height: 400px;
  background-color: magenta;
  box-shadow: 1px 1px 2px magenta, 0 0 25px #720764, 0 0 5px rgb(212, 30, 182);
  transition: 1.4s;
  padding: 10px;
  color: black;
  align-content: center;
  margin: 10px;
  font-family: 'Comfortaa', cursive;
  border-radius: 10px;
}

#main_post_container {
  display: flex;
  transition: 2s;
  margin: 10px;
  flex-wrap: wrap;
  border: red 2px solid;
  border-radius: 10px;
  font-family: 'Comfortaa', cursive;
  padding: 10px;
}
#main_post_container > div {
  margin: 10px;
  opacity: 0.8;
  transition: 2s;
  font-family: 'Comfortaa', cursive;
  text-align: justify;
  overflow: -moz-hidden-unscrollable;
}
.main_post_preview:hover {
  background: none;
  color: magenta;
  opacity: 1;
  box-shadow: none;
}

#sidebar {
  background: none;
  width: max-content;
  padding: 1%;
  border-radius: 9%;
  border: 2px solid black;
  display: none;
  margin-left: 5px;
}

#sidebarlink {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 1.4s;
  font-family: 'Comfortaa', cursive;
}

#sidebarlink:hover {
  color: rgba(90, 81, 81, 0.486);
}

#arrow {
  width: 30px;
  height: 30px;
  position: relative;
  animation: none;
  z-index: 2;
}

#rearrow {
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
  left: 90px;
  animation: none;
  z-index: 2ti;
}

#topbar_container{
  background-image: url(../static/images/topbar_bg.webp);
  margin: 10px;
  border-radius: 5px;
  display: flex;
  font-family: 'Comfortaa', cursive;
  flex-wrap: wrap;
  border: 1px solid black;
  position: relative;
}

#main_vid_container {
  background: black;
  color: #e4f0b0;
  border-radius: 5%;
  box-shadow: 1px 1px 2px #000, 0 0 25px #720764, 0 0 5px rgb(212, 30, 182);
  padding: 10px;
}

#main_vid_container:hover {
  background: black;
  color: #e4f0b0;
  border-radius: 5%;
  box-shadow: none;
  padding: 10px;
}

#vid_iframe {
  border-color: #e4f0b0;
  border-radius: 5%;
}

#main_function_container {
  position: absolute;
  z-index: 100;
  display: none;
  width: 100%;
  position: absolute;
  height: 900%;
  background-color: black;
  text-align: center;
}

#main_function_btn {
  background: none;
  display: block;
  border: 3px solid white;
  color: white;
  width: 160px;
  height: 80px;
  border-radius: 10px;
  transform: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
}

#main_function_btn:hover {
  background: white;
  color: black;
}

#main_function_btn:active {
  background: white;
  color: black;
}

#main_logo_cross_function {
  text-align: left;
  margin: 10px;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: magenta;
  border: 2px solid rgba(0, 0, 255, 0);
  border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
  background: purple; 
}